.dark {
  color: $colorTextDark;

  a {
    color: #fff
  }

  .container {
    background: $bgColorDark;
  }

  .label {
    background-color: #fff;
  }

  .label .ball {
    background-color: #000;
  }

  .header {

    .header--bg {
      background-image: url('../../assets/img/bgHeaderDark.png');
      background-repeat: no-repeat;
    }

    &__name {
      color: $colorTextDark;
    }
  }

  .main {

    .aboutMe {

      &__title {
        color: $colorTextDark;
      }

      &__text {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .experience {

      &__title {
        color: $colorTextDark;
      }

    }

    .education {

      &__title {
        color: $colorTextDark;
      }

    }

    .code {
      &__title {
        color: $colorTextDark;
      }
    }
  }

  .footer {

    .footer--bg {
      background-image: url('../../assets/img/bgFooterDark.png');
      background-repeat: no-repeat;
    }

    &__cta {
      color: $colorTextDark;
    }

  }

}