.footer {
  width: 100%;

  .footer--bg {
    background-image: url('../../assets/img/bgFooter.png');
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 177px 0 75px;
    margin: 0 auto;

    max-width: 793px;
  }

  &__cta {
    margin-bottom: 40px;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 412%;
    line-height: 1.24;
    text-align: center;
    letter-spacing: -1.1px;
    color: $colorText;

    @media (max-width:950px) {
      font-size: 312%;
    }
  }

  &__email {
    margin-bottom: 66px;
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 225%;
    line-height: 1.28;
    text-align: center;
    color: $colorPrimary;

    @media (max-width:950px) {
      font-size: 180%;
    }
  }

  &__socialList {
    margin-bottom: 40px;
  }
}

.socialList {

  display: flex;
  align-items: center;
  column-gap: 46px;

  max-height: 26px;


  &__item {}

  &__link {
    display: flex;
  }

  &__img {
    vertical-align: middle;
    fill: #0699A6;
  }
}