@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:wght@900&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  /* border-collapse: collapse; */
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.changeTheme {
  display: flex;
  justify-content: flex-end;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #9E8C6C;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}
@media (max-width: 768px) {
  .label {
    height: 16px;
    width: 31px;
  }
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
@media (max-width: 768px) {
  .label .ball {
    height: 12px;
    width: 12px;
  }
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
@media (max-width: 768px) {
  .checkbox:checked + .label .ball {
    transform: translateX(15px);
  }
}

.fa-moon {
  font-size: 18px;
  color: #f1c40f;
}
@media (max-width: 768px) {
  .fa-moon {
    font-size: 10px;
  }
}

.fa-sun {
  font-size: 18px;
  color: #f1c40f;
}
@media (max-width: 768px) {
  .fa-sun {
    font-size: 9px;
  }
}

.main {
  width: 100%;
}
.main__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 8.68%;
       column-gap: 8.68%;
  padding: 6.25% 11.458%;
}
.main__statistics {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  width: 24.3%;
}
.main__biografy {
  display: flex;
  flex-direction: column;
  row-gap: 66px;
  width: 56%;
}

.skillset__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9E8C6C;
}
.awards__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9E8C6C;
}
.awards__link {
  color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(6, 153, 166, 0.45);
}
.awards__link:hover {
  border-bottom-width: 0;
}

.careerTraits__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9E8C6C;
}
.careerTraits__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.careerTraits__item--bold {
  font-weight: 700;
}

.recentWorks__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9E8C6C;
}
.recentWorks__item {
  /*     position: relative;

  &:hover {
    &::after {
      content: '';
      display: inline-block;
      width: 200px;
      height: 146px;
      position: absolute;
      bottom: 35px;
      left: 0;
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
      opacity: 1;
    }
  } */
  /* &:nth-child(1) {
    &:hover {
      &::after {
        background-image: url('/assets/img/project_Plants.png');
      }
    }
  }

  &:nth-child(2) {
    &:hover {
      &::after {
        background-image: url('/assets/img/project_Vilocity.png');
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &:nth-child(3) {
    &:hover {
      &::after {
        background-image: url('/assets/img/project_Vilocity.png');
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      }
    }
  } */
}
.recentWorks__link {
  position: relative;
  padding: 0 25px 0 0;
  font-weight: 700;
  color: #0699A6;
}
.recentWorks__link:hover::after {
  content: "→";
  position: absolute;
  right: -5px;
}
.recentWorks__link::after {
  transition: right ease-in-out 0.3s;
  content: "→";
  position: absolute;
  right: 0;
}

.language__title {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9E8C6C;
}
.aboutMe__title {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 180%;
  line-height: 1.28;
  color: #000000;
  margin-bottom: 10px;
}
.aboutMe__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.aboutMe__text:not(:last-of-type) {
  margin-bottom: 10px;
}

.indent {
  padding: 12.9% 0 0;
}
.indent__rectangle {
  width: 71px;
  height: 10px;
  background: #0699A6;
}

.indent--padBottom {
  padding: 0 0 80px;
}

.experience__title {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 180%;
  line-height: 1.28;
  color: #000000;
  margin-bottom: 10px;
}
.experience__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.experience__job {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9E8C6C;
  letter-spacing: 1px;
}
.education__title {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 180%;
  line-height: 1.28;
  color: #000000;
  margin-bottom: 10px;
  margin-bottom: 20px;
}
.education__unit {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.education__name {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9E8C6C;
  letter-spacing: 1px;
}
.education__university {
  font-weight: 700;
}
.education__date {
  line-height: 1.33;
}

.code__title {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 180%;
  line-height: 1.28;
  color: #000000;
  margin-bottom: 10px;
}
.code__text {
  padding: 0 10px 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.code summary {
  margin: 20px 0;
}
.code__btn {
  font-weight: 600;
  color: black;
}
.code__btn:hover {
  border-bottom-width: 0;
  color: red;
  text-decoration: line-through;
}

.footer {
  width: 100%;
}
.footer .footer--bg {
  background-image: url("../../assets/img/bgFooter.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 177px 0 75px;
  margin: 0 auto;
  max-width: 793px;
}
.footer__cta {
  margin-bottom: 40px;
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 412%;
  line-height: 1.24;
  text-align: center;
  letter-spacing: -1.1px;
  color: #000000;
}
@media (max-width: 950px) {
  .footer__cta {
    font-size: 312%;
  }
}
.footer__email {
  margin-bottom: 66px;
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 225%;
  line-height: 1.28;
  text-align: center;
  color: #0699A6;
}
@media (max-width: 950px) {
  .footer__email {
    font-size: 180%;
  }
}
.footer__socialList {
  margin-bottom: 40px;
}

.socialList {
  display: flex;
  align-items: center;
  -moz-column-gap: 46px;
       column-gap: 46px;
  max-height: 26px;
}
.socialList__link {
  display: flex;
}
.socialList__img {
  vertical-align: middle;
  fill: #0699A6;
}

.header {
  width: 100%;
}
.header .header--bg {
  background-image: url("../../assets/img/bgHeader.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
.header__toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.08% 4.86% 0 0;
}
.header .contacts {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-120%);
  transition: background 1s ease-in-out, visibility 1s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out;
}
.header .contacts__close-btn {
  position: absolute;
  top: 0;
  right: -50px;
  border: 0;
  color: #0699A6;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  opacity: 0;
  transition: opacity ease-in 0.3s;
}
.header .contacts .close_btn--opacity {
  opacity: 1;
}
.header .contacts__close-btn:focus {
  outline: none;
}
.header .contacts--position {
  margin-left: 70px;
}
.header__socialList {
  -moz-column-gap: 26px;
       column-gap: 26px;
}
.header .visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 17%;
       column-gap: 17%;
  position: relative;
  width: 100%;
  /*  max-width: 1110px; */
  margin: 0 auto;
  padding: 8.68% 11.25% 19.5138%;
}
.header__content::before {
  content: "";
  position: absolute;
  top: 44.347%;
  left: 25.5277%;
  width: 152px;
  height: 152px;
  background-image: url("../../assets/greeting.svg");
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .header__content::before {
    display: none;
  }
}
.header__info {
  width: 100%;
}
.header__avatar {
  width: 27.3%;
  height: 27.3%;
}
.header__job {
  margin-bottom: 0.69%;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9E8C6C;
}
.header__name {
  margin-bottom: 6.3%;
  font-family: "Playfair Display";
  font-weight: 900;
  font-size: 650%;
  line-height: 0.89;
  letter-spacing: -2px;
  color: #000000;
}
@media (max-width: 950px) {
  .header__name {
    font-size: 450%;
  }
}
@media (max-width: 645px) {
  .header__name {
    font-size: 350%;
  }
}
@media (max-width: 450px) {
  .header__name {
    font-size: 250%;
  }
}
.header__btn {
  padding: 3% 9.448%;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size: 130%;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #0699A6;
}

.dark {
  color: #ffffff;
}
.dark a {
  color: #fff;
}
.dark .container {
  background: #0e1b1d;
}
.dark .label {
  background-color: #fff;
}
.dark .label .ball {
  background-color: #000;
}
.dark .header .header--bg {
  background-image: url("../../assets/img/bgHeaderDark.png");
  background-repeat: no-repeat;
}
.dark .header__name {
  color: #ffffff;
}
.dark .main .aboutMe__title {
  color: #ffffff;
}
.dark .main .aboutMe__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dark .main .experience__title {
  color: #ffffff;
}
.dark .main .education__title {
  color: #ffffff;
}
.dark .main .code__title {
  color: #ffffff;
}
.dark .footer .footer--bg {
  background-image: url("../../assets/img/bgFooterDark.png");
  background-repeat: no-repeat;
}
.dark .footer__cta {
  color: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}

body {
  width: 100%;
  font-size: 20%;
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.7;
  color: #000000;
}
body .container {
  transition: background 0.2s linear;
}
body__canvas {
  position: relative;
}
body__content {
  width: 100%;
}
body .body-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 48px;
  color: green;
  transform: translate(-50%, -50%);
  transition: opacity ease-in 1s;
  opacity: 0;
  -webkit-animation: blink 2000ms alternate 5s infinite;
          animation: blink 2000ms alternate 5s infinite;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
}