/*Heading design*/
h1 {  
  margin-bottom: 15px;
  padding: 25px 35px 0 0;
  font: 37px/39px lato-black;
  letter-spacing: 3px;
  color: #1d252d;
}

h2 {
  position: relative;
  width: 80%;
  padding: 5px 0 5px 25px;
  font: 20px lato-black;
  letter-spacing: 2px;
  color: #fff;
  background: linear-gradient(to right, #7208ff, #ff44ed, #fcbaa6, #fdde9b);
}

h2::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 80px;
  left: 50px;
  bottom: -18px;
  background: linear-gradient(to right, #7208ff, #ff44ed);
}

h3 {
  font: 15px lato-medium;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1d252d;
}

/*Page design*/
body {
  font: 12px/1.5 lato-regular;
  color: #7e848c;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper-left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d252d;
  width: 35%;
}

.wrapper-right-column {
  display: flex;
  flex-direction: column;
  width: 65%;
}

/*section design for "wrapper-left-column"*/
/*Block "Aside"*/
.aside {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 45px 0 90px;
}

.foto-person {
  margin: 0 auto 50px;
}

.foto-person-img {
  width: 150px;
  height: 150px;
  border-image: url("../img/border-img.png") 30 fill / 15px / 6px;
}

.foto-person-img:hover {
  filter: contrast(110%) brightness(110%);
  transition: .3s;
}

/*Block "NAV"*/
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 12px;
  text-decoration: none;
  line-height: 35px;
  text-transform: uppercase;
  color: #fff;
}

.nav-link,
.nav-link:after,
.nav-link:before {
  transition: all .5s;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  height: 1.5px;
  top: 27px;
  background: linear-gradient(to right, #7208ff, #ff44ed);
}

.nav-link:hover:after {
  width: 90%;
}

/*Block "FOOTER"*/
footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 10px 20px;
}

.footer-left {
  font-size: 10px;
}

.rss {
  width: 60px;
  height: 25px;
}

/*section design for "wrapper-right-column"*/
/*Block "HEADER"*/
.person-info {
  padding: 15px 140px 40px 50px;
}

/*Block "MAIN"*/
main {
  display: flex;
  flex-direction: column;
}

/*Block "SECTION"*/
.section-item {
  padding: 35px 145px 60px 50px;
}

.section-item-paragraf {
  padding-bottom: 10px;
}

.txt-dec-header {
  font-weight: 600;
  color: #777;
}

.txt-dec-content a,
.txt-dec-content a:active,
.txt-dec-content a:visited {
  text-decoration: none;
  color: #7e848c;
}

.txt-dec-content a:hover {
  text-decoration: none;
  color: #7208ff;
}

.skills-list-item {
  position: relative;
  margin-left: 25px;
}

.skills-list-item:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -28px;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.skills-list-item:nth-child(1):before {
  background-image: url("../img/html-5.png");
}

.skills-list-item:nth-child(2):before {
  background-image: url("../img/css-3.png");
}

.skills-list-item:nth-child(3):before {
  background-image: url("../img/photoshop.png");
}

.info-list-item {
  position: relative;
  margin-left: 25px;
}

.info-list-item:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -28px;
  width: 15px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.info-list-item:nth-child(1):before {
  background-image: url("../img/compass.png");
}

.info-list-item:nth-child(2):before {
  background-image: url("../img/telephone-call.png");
}

.info-list-item:nth-child(3):before {
  background-image: url("../img/email.png");
}

.info-list-item:nth-child(4):before {
  background-image: url("../img/github.png");
}

.info-list-item:nth-child(5):before {
  background-image: url("../img/telegram.png");
}

.info-list-item:nth-child(6):before {
  background-image: url("../img/discord.png");
}

.lang-list-item::before,
.edu-list-item:before {
  content: '';
  background: #662974;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  display: inline-block;
  color: white;
  text-align: center;
  margin-right: 0.6rem;
  vertical-align: middle;
}

.edu-sublist-item:before {
  content: '';
  background: #77697a;
  width: 7px;
  height: 7px;
  left: 20px;
  border-radius: 100%;
  display: inline-block;
  color: white;
  text-align: center;
  margin-right: 0.6rem;
  vertical-align: middle;
  margin-left: 20px;
}